body {
  margin: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif;

}

.hover-opacity-75:hover {
  opacity: 0.85;
}
.cursor-pointer {
  cursor: pointer;
}

nav {
  position: fixed;
  /* position: sticky; */
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
}