.registration .cascading-right {
    margin-right: -50px;
  }
  @media (max-width: 900px) {
    .registration .cascading-right {
      margin-right: 0;
    }
  }
  .registration img{
    max-height: 100vh;
    object-fit: cover;
  }
  .registration div.col.col-auto{
    min-width: 50%;
  }
  @media (max-width: 814px) {
    .registration img{
      visibility: hidden;
    }
  }