.cascading-right {
    margin-right: -50px;
  }
  @media (max-width: 900px) {
    .cascading-right {
      margin-right: 0;
    }
  }
  img{
    max-height: 100vh;
    object-fit: cover;
  }
  div.col.col-auto{
    min-width: 50%;
  }
  @media (max-width: 814px) {
    img{
      visibility: hidden;
    }
  }