.gradient-custom {
    /* fallback for old browsers */
    background: #65a9f6;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right bottom, rgb(101, 152, 246), rgb(133, 243, 253));
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right bottom, rgb(101, 147, 246), rgb(133, 241, 253))
  }
