.gradient-nav {
    /* fallback for old browsers */
    background: #C4E6FD;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(
      to right bottom,
      rgb(229, 246, 247),
      rgba(35, 161, 207, 0.6)
    );
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(
      to right bottom,
      rgb(229, 246, 247),
      rgba(35, 161, 207, 0.6)
    );
  }